@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* gradient anmation */
.animated-gradient {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
}

@keyframes gradientShift {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* MacOs Style smooth gradient animation */
.macos-gradient {
  background: linear-gradient(
    135deg,
    #667eea 0%,
    #764ba2 25%,
    #f093fb 50%,
    #4facfe 75%,
    #00f2fe 100%
  );
  background-size: 400% 400%;
  animation: macosFlow 20s ease infinite;
}

@keyframes macosFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Blue gradient */
.calm-blue-gradient {
  background: linear-gradient(
    -45deg,
    #0f2027,
    #203a43,
    #2c5364,
    #1e3c72,
    #2a5298
  );
  background-size: 400% 400%;
  animation: calmFlow 18s ease infinite;
}

@keyframes calmFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Pupple and Pink gradient */
.purple-pink-gradient {
  background: linear-gradient(
    -45deg,
    #8e2de2,
    #4a00e0,
    #da22ff,
    #9733ee,
    #667eea
  );
  background-size: 400% 400%;
  animation: purpleFlow 16s ease infinite;
}

@keyframes purpleFlow {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
